<main class="about-page">
  <section class="about-main-header">
    <h1><%= mainHeadline %></h1>
  </section>

  <section class="about-header">
    <h2><%= headline %></h2>
  </section>

  <% aboutPage.forEach((section, index) => { %>
    <article class="about-section section-<%= index + 1 %>">
      <h3><%= section.section %></h3>
      <p><%= section.content %></p>
    </article>
  <% }) %>

  <div class="information">
    <div class="info-modal">
      <ul class="info-modal-list"></ul>
    </div>
  </div>
</main>
