<h1><%= movie.title %></h1>

<div class="movie-details">
  <img src="<%= movie.image.url %>" alt="Bild för <%= movie.title %>" />
  <div class="movie-intro">
    <h3>Intro</h3>
    <p><%= movie.introHtml %></p>
  </div>
  <div class="movie-info">
    <p><strong>Genre:</strong> <%= movie.genre %></p>
    <p><strong>Skådespelare:</strong> <%= movie.actors %></p>
    <p><strong>Språk:</strong> <%= movie.language %></p>
    <p><strong>Speltid:</strong> <%= movie.length %> minuter</p>
  </div>
</div>

<a href="/movie">Tillbaka till alla filmer</a>
