<div class="individual-movie">
  <%# The title for the individual movie from the API response %>
  <h1 class="individual-movie__title"><%= movie.title %></h1>

  <div class="individual-movie__details">
    <img
      class="individual-movie__image"
      src="<%= movie.image.url %>"
      alt="<%= moviesText.imageAlt %> <%= movie.title %>"
    />
    <%# Shows the intro text for the movie, this text uses the unescaped HTML from the marked parser %>
    <div class="individual-movie__intro">
      <h3><%= moviesText.individual.introTitle %></h3>
      <%- movie.introHtml %>
    </div>
  </div>

  <a class="individual-movie__back-link" href="/movies"><%= moviesText.individual.backLink %></a>
</div>
