<main>
   <%# Looping through the content array to create the img for dekstop and mobile %>
    <div class="div-hero">
        <% contentData.forEach((content) => { %>
          <img 
            class="kids-hero" 
            src="<%= content.imgHeroDesktop %>" 
            alt="<%= content.imgAltHero %>">
          <img 
            class="kids-img" 
            src="<%= content.imgTextDesktop %>" 
            alt="<%= content.imgAltDesktop %>">
        <% }) %>
      </div>
      
<%# loops through the content array and creates the title text, button text and the description %>
    <article class="article-kids">
      <% contentData.forEach((content) => { %>
        <div class="kids-div">
          <h2 class="kids-header"><%= content.titelDesktop %></h2>
          <button class="kids-button"><%= content.book %></button>
          <p class="kids-text"><%= content.descriptionDesktop %></p>
        </div>
      <% }) %>
    </article>
  
<%# looping through the event data and create the events with img, titles & descriptions %>
    <article class="article-party">
      <% eventData.forEach((event) => { %>
        <div class="party-div">
          <img 
            class="party-img" 
            src="<%= event.image %>" 
            alt="<%= event.imageAlt %>">
          <div class="party-styling">
            <h2 class="party-header"><%= event.titel %></h2>
            <p class="party-text"><%= event.description %></p>
            <ol class="party-list">
              <%# This loop creates the listed items in the event from the event.content array. %>
              <% event.content.forEach((listItem) => { %>
                <li class="party-listItem"><%= listItem %></li>
              <% }) %>
            </ol>
            <button class="party-button"><%= event.book %></button>
          </div>
        </div>
      <% }) %>
    </article>
  </main>
  