<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Kino Sandviken</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="/main.css" />
  </head>

  <body>
    <header>
      <nav class="main-nav">
        <div class="nav-left">
          <a href="/">
            <img src="<%= header.mainHeader.logo %>" alt="<%= header.mainHeader.alt %>" class="nav-logo">
          </a>
          <a href="/">
            <span class="brand-name"><%= header.mainHeader.brandName %></span>
          </a>
        </div>
        <div class="nav-right">
          <ul class="menu-links">
            <% header.hamburgerMenu.menuLinks.forEach(link => { %>
              <li>
                <a href="<%= getMenuLink(link.text) %>"><%= link.text %></a>
              </li>
            <% }); %>
          </ul>
          <button class="hamburger-btn">
            <i class="fas fa-bars"></i>
          </button>
        </div>
      </nav>

      <div class="menu-overlay" style="display: none;">
        <button class="close-btn">
          <i class="fas fa-times"></i>
        </button>
        <div class="overlay-logo">
          <img src="<%= header.hamburgerMenu.menuLogo %>" alt="<%= header.mainHeader.alt %>" class="overlay-logo">
        </div>
        <ul class="menu-links">
          <% header.hamburgerMenu.menuLinks.forEach(link => { %>
            <li>
              <a href="<%= getMenuLink(link.text) %>"><%= link.text %></a>
            </li>
          <% }); %>
        </ul>
      </div>
      <div class="overlay-blur"></div>
    </header>

    <%- body %>


    <footer class="footer-container">
      <div class="sections-container">
      
        <section class="footer-section">
          <h4><%= footer.sections[0].title %></h4>
          <ul>
            <li>E-post: <%= footer.sections[0].contact[0].mail %></li>
            <li>Telefonnummer: <%= footer.sections[0].contact[0].phoneNumber %></li>
          </ul>
        </section>
    
        <section class="footer-section">
          <h4><%= footer.sections[1].title %></h4>
          <ul>
            <% footer.sections[1].links.forEach(link => { %>
              <li>
                <img src="<%= link.icon %>" alt="<%= link.text || link.name %> icon" class="footer-icon">
                <a href="<%= link.url %>" class="footer-a"><%= link.text || link.name %></a>
              </li>
            <% }); %>
          </ul>
        </section>
    
        <section class="footer-section">
          <h4><%= footer.sections[2].title %></h4>
          <ul>
            <li><%= footer.sections[2].adress[0].street %></li>
            <li><%= footer.sections[2].adress[0].town %></li>
            <li><a href="<%= footer.sections[2].adress[0].url %>" class="footer-afind">
              <%= footer.sections[2].adress[0].findUs %>
            </a></li>
          </ul>
        </section>
      </div>

      <span class="footer-logo-p">
      <img src="<%= footer.logo %>" alt="Kino Bio Logo" class="footer-logo">
      <p class="footer-logotext"><%= footer.text %></p>
      </span>
</footer>
    <script type="module" src="/main.js"></script>
  </body>
</html>